{% extends 'base.html' %}

{% block content %}
{% if category_list %}
 <table class="table table-bordered">
    <thead>
      <tr>
        <th>Category</th>
        <th>Facts</th>
        <th>Ratings</th>
        <th>Items</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for category in category_list %}
      <tr>
        <td>{{ category.name }}</td>
        <td>
            <ul class="list-group">
            {% for fact in category.facts.all %}
              <li class="list-group-item">{{ fact }}</li>
            {% empty %}
            N/A
            {% endfor %}
            </ul>
        </td>
        <td>
            <ul class="list-group">
            {% for rating in category.ratings.all %}
            <li class="list-group-item">{{ rating.name }} (1-{{ rating.max_rating }} <i class="{{ rating.icon }} text-success"></i>)</li>
            {% empty %}
            N/A
            {% endfor %}
            </ul>
        </td>
        <td>{{ category.items.count }}</td>
        <td>
          <a href="{% url 'team:category:detail' team_slug=team.slug category_slug=category.slug %}" class="btn btn-primary">Details</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p class="lead">No categories found. Go create one!</p>
{% endif %}
<a href="{% url 'team:category:create' team_slug=team.slug %}" class="btn btn-success">Create Category</a>
{% endblock content %}

