{% load bootstrap4 %}
{% load get_eav_value %}
{% load rating %}
{% load leaflet_tags %}
{% load guardian_tags %}
{% load humanize %}
{% load items %}
<div class="card">
  <div class="card-header">
    <h4>{{ item.name }} ({{ item.category }})
        {% if 'change_item' in item_perms %}
          <a href="{% url 'team:category:item:settings' team_slug=item.team.slug category_slug=item.category.slug item_slug=item.slug %}" class="btn btn-secondary float-right"><i class="fas fa-cog"></i></a>
        {% endif %}
    </h4>
  </div>
  <div class="card-body">
    <p class="lead">{{ item.name }} is an Item in the Category {{ item.category }}. It was created on {{ item.created }} and last updated on {{ item.updated }}.</p>
    <h5 class="card-title">Facts</h5>
    <table class="table table-bordered">
      <tr>
        <td><b>Name</b><br>The name of this {{ item.category.name }}</td>
        <td>{{ item.name }}</td>
      </tr>
      <tr>
        <td><b>Description</b><br>The description of this {{ item.category.name }}</td>
        <td>{{ item.description|default:"N/A" }}</td>
      </tr>
      {% for fact in item.facts.all %}
      <tr>
          <td><b>{{ fact.name }} ({{ fact.datatype }})</b><br>{{ fact.description }}</td>
          {% if fact.datatype == "point" %}
          <td>
            {% with item|get_eav_value:fact.slug as point %}
                <script type="text/javascript">
                    // add a listener to add the marker on the map after it initialises
                    window.addEventListener("map:init", function (e) {
                       var detail = e.detail;
                       // we might have multiple maps, make sure we have the right one
                       if (detail.id == '{{ fact.slug }}') {
                            L.marker([{{ point.y }}, {{ point.x }}]).addTo(detail.map);
                            detail.map.setView([{{ point.y }}, {{ point.x }}], 15);
                        };
                    }, false);
                </script>
                {% leaflet_map fact.slug %}
                <p>Lat: {{ point.y }} Lon: {{ point.x }}</p>
            {% endwith %}
          </td>
          {% elif fact.datatype == "area" %}
          <td>
            {% with item|get_eav_value:fact.slug as area %}
                <script type="text/javascript">
                    // add a listener to add the area on the map after it initialises
                    window.addEventListener("map:init", function (e) {
                       var detail = e.detail;
                       // we might have multiple maps, make sure we have the right one
                       if (detail.id == '{{ fact.slug }}') {
                            // Creating multi polygon options
                            var multiPolygonOptions = {color:'red'};

                            // Creating multi polygon
                            var multipolygon = L.geoJSON({{ area.geojson|safe }}, multiPolygonOptions);

                            // Adding multi polygon to map
                            multipolygon.addTo(detail.map);

                            // zoom and center map
                            detail.map.setView([{{ area.point_on_surface.y }}, {{ area.point_on_surface.x }}], 15);
                        };
                    }, false);
                </script>
                {% leaflet_map fact.slug %}
                <p>{{ area.num_points }} points</p>
                <p>{{ area.area|floatformat:20 }} m2</p>
            {% endwith %}
          </td>
          {% elif fact.datatype == "object" %}
            {% with item|get_eav_value:fact.slug as myfact %}
              <td><a href="{{ myfact.get_absolute_url }}">{{ myfact }}</a></td>
            {% endwith %}
          {% else %}
          <td>{{ item|get_eav_value:fact.slug }}</td>
          {% endif %}
      </tr>
      {% endfor %}
    </table>

    <h5 class="card-title">Average Votes</h5>
    {% if item.reviews.all %}
    <table class="table table-bordered">
      {% for rating in item.category.ratings.all %}
      {% get_actor_vote item rating as actor_vote %}
      {% get_latest_review item as latest_review %}
      <tr>
        <td>
          <b>{{ rating.name }}</b><br>{{ rating.description }}
        </td>
        <td class="text-right">
          Average Vote: {{ item | stars:rating }} ({{ item | votes:rating }} votes)<br>
          Your Latest: {{ actor_vote | stars:rating | default:"N/A" }} (<a href="{{ latest_review.get_absolute_url }}">Review</a>)
        </td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
      <p class="lead">No reviews found!</p>
      <a href="{% url 'team:category:item:review:create' team_slug=team.slug category_slug=item.category.slug item_slug=item.slug %}" class="btn btn-sm btn-success"><i class="fas fa-plus"></i> Add New Review</a>
    {% endif %}

    {% if not compact %}
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="true">Reviews ({{ item.reviews.count }})</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" id="comments-tab" data-toggle="tab" href="#comments" role="tab" aria-controls="comments" aria-selected="false">Comments ({{ item.comments.count }})</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" id="attachments-tab" data-toggle="tab" href="#attachments" role="tab" aria-controls="attachments" aria-selected="false">Attachments ({{ item.attachments.count }})</a>
      </li>
      {% get_related_items as item_lists %}
      {% for item_list in item_lists %}
      {% if item_list %}
      <li class="nav-item">
          <a class="nav-link" id="{{ item_list.0.category.slug }}-tab" data-toggle="tab" href="#{{ item_list.0.category.slug }}" role="tab" aria-controls="{{ item_list.0.category.slug }}" aria-selected="false">{{ item_list.0.category.name }} ({{ item_list | length }})</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>

    <!-- Tabs content -->
    <div class="tab-content">
      <!-- reviews -->
      <div class="tab-pane show active" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
        <br><p>
        <a href="{% url 'team:category:item:review:list' team_slug=team.slug category_slug=item.category.slug item_slug=item.slug %}" class="btn btn-sm btn-primary"><i class="fas fa-list"></i> Show All Reviews</a>
        <a href="{% url 'team:category:item:review:create' team_slug=team.slug category_slug=item.category.slug item_slug=item.slug %}" class="btn btn-sm btn-success"><i class="fas fa-plus"></i> Add New Review</a>
        </p>
        {% for review in item.last10reviews.all %}
          {% get_obj_perms request.user for review as "review_perms" %}
          {% include 'includes/review_card.html' %}
        {% endfor %}
      </div>
      <!-- comments -->
      <div class="tab-pane" id="comments" role="tabpanel" aria-labelledby="comments-tab">
        <br><p>
        <a href="{% url 'team:category:item:comment:list' team_slug=team.slug category_slug=item.category.slug item_slug=item.slug %}" class="btn btn-sm btn-primary"><i class="fas fa-list"></i> Show All Comments</a>
        {% if 'add_comment' in item_perms %}
          <a href="{% url 'team:category:item:comment:create' team_slug=team.slug category_slug=item.category.slug item_slug=item.slug %}" class="btn btn-sm btn-success"><i class="fas fa-plus"></i> Add New Comment</a>
        {% endif %}
        </p>
        {% include "includes/comment_list_table.html" with comment_list=item.comments.all %}
      </div>
      <!-- attachments -->
      <div class="tab-pane" id="attachments" role="tabpanel" aria-labelledby="attachments-tab">
        <br><p>
        <a href="{% url 'team:category:item:attachment:list' team_slug=team.slug category_slug=item.category.slug item_slug=item.slug %}" class="btn btn-sm btn-primary"><i class="fas fa-list"></i> Show All Attachments</a>
        {% if 'add_attachment' in item_perms %}
          <a href="{% url 'team:category:item:attachment:create' team_slug=team.slug category_slug=item.category.slug item_slug=item.slug %}" class="btn btn-sm btn-success"><i class="fas fa-plus"></i> Add New Attachment</a>
        {% endif %}
        </p>
        {% include "includes/attachments.html" with attachment_list=item.attachments.all cardtype="full" %}
      </div>
      <!-- related items -->
      {% for item_list in item_lists %}
      {% if item_list %}
      <div class="tab-pane" id="{{ item_list.0.category.slug }}" role="tabpanel" aria-labelledby="{{ item_list.0.category.slug }}-tab">
        {% include 'includes/item_list_table.html' with compact=True %}
      </div>
      {% endif %}
      {% endfor %}
    </div>
    {% endif %}
  </div>

