{% extends 'base.html' %}
{% load get_eav_value %}
{% load guardian_tags %}
{% load rating %}

{% block team_content %}
{% if review_list %}
<h4>
    Reviews for {{ item.name }} ({{ review_list.count }} reviews)
    <a href="{% url 'team:category:item:detail' team_slug=item.team.slug category_slug=item.category.slug item_slug=item.slug %}" class="card-link btn btn-primary"><i class="fas fa-undo"></i> Back to {{ item.name }}</a>
</h4>
  {% for review in review_list %}
    {% get_obj_perms request.user for review as "review_perms" checker %}
    {% include 'includes/review_card.html' %}
  {% endfor %}
{% else %}
<p class="lead">No reviews found. Go create one!</p>
{% endif %}
{% if 'add_review' in item_perms %}
  <a href="{% url 'team:category:item:review:create' team_slug=team.slug category_slug=category.slug item_slug=item.slug %}" class="btn btn-success">Create Review</a>
{% endif %}
{% endblock team_content %}

