{% extends 'base.html' %}
{% load bootstrap4 %}

{% block category_content %}
<p class="lead">
{% if form.instance.item %}Update{% else %}Create{% endif %} Review of {{ item.name }}
</p>
<form method="post" class="form" enctype="multipart/form-data">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <button type="submit" class="btn btn-success">
        <i class="fas fa-check"></i> {% if form.instance.item %}Update{% else %}Create{% endif %} Review
    </button>
  {% endbuttons %}
</form>
{% endblock category_content %}

