{% load static %}
{% load bootstrap4 %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">
    <title>{% block title %}social/rating{% endblock title %}</title>
    <link href="{% static 'css/bootstrap-4.3.1.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/socialrating.css' %}" rel="stylesheet">
    <link href="{% static 'css/fontawesome-5.5.0.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/fontawesome-brands-5.5.0.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/fontawesome-solid-5.5.0.min.css' %}" rel="stylesheet">
    {% block extra_head %}{% endblock extra_head %}
  </head>

  <body>
    {% include 'navbar.html' %}
    <main role="main" class="container">
      {% bootstrap_messages %}
      {% if view.breadcrumbs or view.kwargs.breadcrumb_title %} 
      {% include 'breadcrumb.html' %}
      {% endif %}
      {% block content %}
      {% if team %}
          <div class="row">
            <div class="col-2">
              {% include 'team_menu.html' %}
            </div>
            <div class="col-10">
              {% block team_content %}
                <p>block 'team_content' was not replaced so this default text from base.html is shown instead</p>
              {% endblock team_content %}
            </div>
          </div>
      {% else %}
        <p>block 'content' was not replaced, so this default text from base.html is shown instead</p>
      {% endif %}
      {% endblock content %}
    </main>
    <script src="{% static 'js/jquery-3.4.1.slim.min.js' %}" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="></script>
    <script src="{% static 'js/popper-1.14.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-4.3.1.min.js' %}"></script>
  </body>
</html>
 
