{% extends 'base.html' %}
{% load bootstrap4 %}

{% block team_content %}
<div class="card border-success">
  <div class="card-header">
    <h2>Delete Vote <i>{{ vote.uuid }}</i> ?</h2>
  </div>
  <div class="card-body">
    <p class="lead">Really delete this vote?
    <form method="post" class="form">
      {% csrf_token %}
      {% buttons %}
        <a href="{% url 'team:category:item:review:vote:settings' team_slug=category.team.slug category_slug=category.slug item_slug=item.slug review_uuid=review.uuid vote_uuid=vote.uuid %}" class="btn btn-primary"><i class="fas fa-undo"></i> Cancel</button></a>
        <button type="submit" class="btn btn-danger"><i class="fas fa-times"></i> Yes, Delete Vote</button>
      {% endbuttons %}
    </form>
  </div>
</div>
{% endblock team_content %}

