{% extends 'base.html' %}
{% load bootstrap4 %}
{% load leaflet_tags %}

{% block extra_head %}
  {{ form.media }}
  {% leaflet_js plugins="forms" %}
  {% leaflet_css plugins="forms" %}
{% endblock extra_head %}

{% block team_content %}
<p class="lead">
{% if request.resolver_match.url_name == "update" %}
Update Vote: {{ form.instance.rating.name }}
{% else %}
Create Vote
{% endif %}
</p>

<form method="post" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <a href="{% url 'team:category:item:review:vote:list' team_slug=category.team.slug category_slug=category.slug item_slug=item.slug review_uuid=review.uuid %}" class="btn btn-primary"><i class="fas fa-undo"></i> Cancel</button></a>
    <button type="submit" class="btn btn-success">
        <i class="fas fa-check"></i> {% if request.resolver_match.url_name == "update" %}Update{% else %}Create{% endif %} Vote
    </button>
  {% endbuttons %}
</form>
{% endblock team_content %}

