{% extends 'base.html' %}
{% load bootstrap4 %}
{% load get_eav_value %}
{% load rating %}

{% block content %}
<p class="lead">Details for {{ item.name }}</p>
<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <td>{{ item.name }}</td>
  </tr>
  {% for fact in item.facts.all %}
  <tr>
    <td><b>{{ fact.name }}</b><br>{{ fact.description }}</td>
    <td>{{ item|get_eav_value:fact.slug }}</td>
  </tr>
  {% endfor %}
  {% for rating in item.category.ratings.all %}
  <tr>
    <td><b>{{ rating.name }}</b><br>{{ rating.description }}</td>
    <td>
        Average Vote: {% get_rating item rating 'average' True %} {% get_rating item rating 'average' %} ({% get_rating_count item property %} of {{ item.category.team.members.count }} members has rated this)<br>
        Your Vote: {% get_rating item property 'user' True %} {% get_rating item property 'user' %}

    </td>
  </tr>
  {% endfor %}
</table>

<a href="{% url 'team:category:item:update' team_slug=item.category.team.slug category_slug=item.category.slug item_slug=item.slug %}" class="btn btn-success">Update Item</a>

{% endblock content %}

