{% extends 'base.html' %}
{% load guardian_tags %}

{% block team_content %}
{% get_obj_perms request.user for item as "item_perms" %}
<div class="card">
  <div class="card-header">
      <h4>Settings for Item: {{ item.name }}</h4>
  </div>
  <div class="card-body">
    <table class="table table-bordered">
      <tr>
        <th>Name</th>
        <td>{{ item.name }}</td>
      </tr>
      <tr>
        <th>Description</th>
        <td>{{ item.description }}</td>
      </tr>
    </table>
    <a href="{% url 'team:category:item:detail' team_slug=team.slug category_slug=category.slug item_slug=item.slug %}" class="btn btn-primary"><i class="fas fa-search"></i> Show Item</a>
    {% if "change_item" in item_perms %}
      <a href="{% url 'team:category:item:update' team_slug=team.slug category_slug=category.slug item_slug=item.slug %}" class="btn btn-primary"><i class="fas fa-edit"></i> Update Item</a>
    {% endif %}
    {% if "delete_item" in item_perms %}
      <a href="{% url 'team:category:item:delete' team_slug=team.slug category_slug=category.slug item_slug=item.slug %}" class="btn btn-danger"><i class="fas fa-times"></i> Delete Item</a>
    {% endif %}
  </div>
</div>
{% endblock team_content %}

