{% extends 'base.html' %}
{% load get_eav_value %}
{% load guardian_tags %}
{% load rating %}

{% block team_content %}
{% if item_list %}
<h2>List of {{ category.name }}</h2>
{% include 'includes/item_list_table.html' %}
{% else %}
<p class="lead">No items found. Go create one!</p>
{% endif %}
{% if perms.item.add_item %}
  <a href="{% url 'team:category:item:create' team_slug=team.slug category_slug=category.slug %}" class="btn btn-success">Create Item</a>
{% endif %}
{% endblock team_content %}

