    {% load guardian_tags %}
    <nav class="nav flex-column">
      {% for menucategory in team.categories.all %}
        {% get_obj_perms request.user for menucategory as "category_perms" %}
        {% if "view_category" in category_perms %}
          <h5>{{ menucategory.name }} <a href="{% url 'team:category:item:create' team_slug=team.slug category_slug=menucategory.slug %}"><i class="fas fa-plus text-success"></i></a></h5>
          {% for item in menucategory.items.all %}
            {% get_obj_perms request.user for item as "item_perms" %}
            {% if "view_item" in item_perms %}
              <a class="nav-link" href="{% url 'team:category:item:detail' team_slug=team.slug category_slug=menucategory.slug item_slug=item.slug %}">{{ item.name }}</a>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    </nav>

