{% extends 'base.html' %}

{% block team_content %}
{% if context_list %}
<h2>Contexts for {{ team.name }}</h2>
 <table class="table table-bordered">
    <thead>
      <tr>
        <th>Context</th>
        <th>Description</th>
        <th>Reviews</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for context in context_list %}
      <tr>
        <td>{{ context.name }}</td>
        <td>{{ context.description }}</td>
        <td>{{ context.reviews.count }}</td>
        <td>
          <a href="{% url 'team:context:detail' team_slug=team.slug context_slug=context.slug %}" class="btn btn-primary"><i class="fas fa-search"></i> Show</a>
          {% if 'context.change_context' in perms %}
          <a href="{% url 'team:context:settings' team_slug=team.slug context_slug=context.slug %}" class="btn btn-primary"><i class="fas fa-cog"></i> Settings</a>
          {% endif %}
          {% if 'context.change_context' in perms %}
          <a href="{% url 'team:context:update' team_slug=team.slug context_slug=context.slug %}" class="btn btn-primary"><i class="fas fa-edit"></i> Update</a>
          {% endif %}
          {% if 'context.delete_context' in perms %}
          <a href="{% url 'team:context:delete' team_slug=team.slug context_slug=context.slug %}" class="btn btn-danger"><i class="fas fa-times"></i> Delete</a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p class="lead">No contexts found. Go create one!</p>
{% endif %}
<a href="{% url 'team:context:create' team_slug=team.slug %}" class="btn btn-success"><i class="fas fa-plus"></i> Create New Context</a>
{% endblock team_content %}

