{% extends 'base.html' %}

{% block content %}
{% if team_list %}
<p class="lead">You are a member of the following teams:</p>
 <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Members</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for team in team_list %}
      <tr>
        <td>{{ team.name }}</td>
        <td>{{ team.members.count }}</td>
        <td>
          <a href="{% url 'team:detail' team_slug=team.slug %}" class="btn btn-primary"><i class="fas fa-search"></i> Open Team</a>
          {% if 'team.change_team' in perms %}
          <a href="{% url 'team:update' team_slug=team.slug %}" class="btn btn-primary"><i class="fas fa-edit"></i> Update Team</a>
          {% endif %}
          {% if 'team.delete_team' in perms %}
          <a href="{% url 'team:delete' team_slug=team.slug %}" class="btn btn-danger"><i class="fas fa-times"></i> Delete Team</a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p class="lead">You are not a member of any teams.</p>
{% endif %}
<a href="{% url 'team:create' %}" class="btn btn-success">Create new Team</a>
{% endblock content %}

