{% extends 'base.html' %}

{% block content %}
 <table class="table table-bordered">
    <thead>
      <tr>
        <th>Team Member Name</th>
        <th>Team Role</th>
        <th>Member Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for membership in team.membership_set.all %}
      <tr>
        <td>{{ membership.actor.user.full_name }}</td>
        <td>{% if membership.admin %}Administrator{% else %}Member{% endif %}</td>
        <td>
        </td>
      </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}

