{% extends 'base.html' %}

{% block team_content %}
<h2>Member List for {{ team.name }}</h2>
 <table class="table table-bordered">
    <thead>
      <tr>
        <th>Username</th>
        <th>Name</th>
        <th>Team Role</th>
        <th>Member Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for membership in team.memberships.all %}
      <tr>
        <td>{{ membership.actor.user.username }}</td>
        <td>{{ membership.actor.user.full_name }}</td>
        <td>{% if membership.admin %}Administrator{% else %}Member{% endif %}</td>
        <td>
        </td>
      </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock team_content %}

