{% extends 'base.html' %}
{% load guardian_tags %}

{% block team_content %}
{% if attachment_list %}
<h3>Showing all attachments for {{ attachment_list.0.attachment_object.object_name }} {{ attachment_list.0.attachment_object }}</h3>

<p><a href="{{ attachment_list.0.attachment_object.get_absolute_url }}" class="btn btn-primary">Back to {{ attachment_list.0.attachment_object.object_name }} {{ attachment_list.0.attachment_object }}</a></p>

 <table class="table table-bordered">
    <thead>
      <tr>
        <th>uuid</th>
        <th>Filename</th>
        <th>Description</th>
        <th>Mimetype</th>
        <th>Size</th>
        <th>Thumbnail</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for attachment in attachment_list %}
      {% get_obj_perms request.user for attachment as "attachment_perms" %}
      {% if "view_attachment" in attachment_perms %}
      <tr>
        <td>{{ attachment.uuid }}</td>
        <td>{{ attachment.attachment.name }}</td>
        <td>{{ attachment.description }}</td>
        <td>{{ attachment.mimetype }}</td>
        <td>{{ attachment.size }} bytes</td>
        <td>
          <a href="{{ attachment.get_file_url }}">
            <img src="{{ attachment.get_file_url }}?thumbnail" width="50%" heigth="225" class="img-thumbnail">
          </a>
        </td>
        <td>
          {% if "change_attachment" in attachment_perms %}
            <a href="{{ attachment.get_update_url }}" class="btn btn-primary">Update</a>
          {% endif %}
          {% if "delete_attachment" in attachment_perms %}
            <a href="{{ attachment.get_delete_url }}" class="btn btn-danger">Delete</a>
          {% endif %}
        </td>
      </tr>
      {% endif %}
    {% endfor %}
    </tbody>
</table>
{% else %}
<p class="lead">No attachments found.</p>
{% endif %}
{% endblock team_content %}

