{% extends 'base.html' %}
{% load bootstrap4 %}

{% block team_content %}
<h2>Really delete this Attachment?</h2>
<img src="{{ attachment.get_file_url }}?thumbnail" width="50%" heigth="225" class="img-thumbnail">

<p class="lead">{{ attachment.description }}</p>

<form method="post" class="form">
  {% csrf_token %}
  {% buttons %}
  <a href="{{ attachment.get_absolute_url }}" class="btn btn-primary"><i class="fas fa-undo"></i> No, Go Back</a>
  <button type="submit" class="btn btn-danger"><i class="fas fa-times"></i> Yes, Delete Attachment</button>
  {% endbuttons %}
</form>
{% endblock team_content %}

