{% extends 'base.html' %}
{% load guardian_tags %}
{% load humanize %}

{% block team_content %}
<div class="card border-success">
  <div class="card-header">
      Details for Attachment: {{ attachment.uuid }}
      <a href="{{ attachment.get_settings_url }}" class="btn btn-secondary float-right"><i class="fas fa-cog"></i></a>
  </div>
  <div class="card-body">
    <table class="table table-bordered">
      <tr>
        <th>Attachment</th>
        <td>{{ attachment.uuid }}</td>
      </tr>
      <tr>
        <th>Review</th>
        <td><a href="{{ attachment.get_absolute_url }}">{{ attachment.review }}</a> by {{ attachment.review.actor.user }} on {{ attachment.review.created }}</td>
      </tr>
      <tr>
        <th>Mimetype</th>
        <td>{{ attachment.mimetype }}</td>
      </tr>
      <tr>
        <th>Size</th>
        <td>{{ attachment.size }}</td>
      </tr>
      <tr>
        <th>Description</th>
        <td>{{ attachment.description }}</td>
      </tr>
      <tr>
        <th>Thumbnail</th>
        <td>
          <a href="{{ attachment.get_file_url }}">
            <img src="{{ attachment.get_file_url }}?thumbnail" width="100%" heigth="225">
          </a>
        </td>
      </tr>
    </table>
    <a href="{{ attachment.get_list_url }}" class="card-link btn btn-primary"><i class="fas fa-list"></i> Attachments</a>
    <a href="{{ attachment.attachment_object.get_absolute_url }}" class="btn btn-primary"><i class="fas fa-search"></i> {{ attachment.attachment_object }}</a>
  </div>
</div>
{% endblock team_content %}

