Django>=2.2.1
django-allauth>=0.39.1
django-bootstrap4>=0.0.8
-e git+https://github.com/tykling/django-eav2.git@720fb456e1a4cc42833d7dc0e35192f3c4e5fca0#egg=django_eav2
django-guardian>=1.5.1
django-leaflet>=0.24.0
psycopg2-binary>=2.8.2
python-magic>=0.4.15
