{% extends 'base.html' %}
{% load guardian_tags %}

{% block team_content %}
{% get_obj_perms request.user for fact as "fact_perms" %}

<div class="card">
  <div class="card-header">
    <h2>
        Fact {{ fact.name }} Settings
    </h2>
  </div>
  <div class="card-body">
    <div class="button-group">
    <a href="{% url 'team:category:fact:detail' team_slug=team.slug category_slug=category.slug fact_slug=fact.slug %}" class="btn btn-primary"><i class="fas fa-search"></i> Show Fact</a>
    {% if "change_fact" in fact_perms %}
      <a href="{% url 'team:category:fact:update' team_slug=team.slug category_slug=category.slug fact_slug=fact.slug %}" class="btn btn-primary"><i class="fas fa-edit"></i> Update Fact</a>
    {% endif %}
    {% if "delete_fact" in fact_perms %}
      <a href="{% url 'team:category:fact:delete' team_slug=team.slug category_slug=category.slug fact_slug=fact.slug %}" class="btn btn-danger"><i class="fas fa-times"></i> Delete Fact</a>
    {% endif %}
    </div>
  </div>
</div>

{% endblock team_content %}

