{% load guardian_tags %}
<table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Url Slug</th>
        <th>Description</th>
        <th>Type</th>
        <th>Required?</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for fact in fact_list %}
      {% get_obj_perms request.user for fact as "fact_perms" %}
      {% if "view_fact" in fact_perms %}
      <tr>
        <td>{{ fact.name }}</td>
        <td>{{ fact.slug }}</td>
        <td>{{ fact.description }}</td>
        <td>{{ fact.datatype }}</td>
        <td>{{ fact.required }}</td>
        <td>
          <div style="white-space: nowrap;" class="btn-group-vertical">
          <a href="{% url 'team:category:fact:detail' team_slug=team.slug category_slug=category.slug fact_slug=fact.slug %}" class="btn btn-primary"><i class="fas fa-search"></i> Details</a>
          {% if "change_fact" in fact_perms %}
            <a href="{% url 'team:category:fact:settings' team_slug=team.slug category_slug=category.slug fact_slug=fact.slug %}" class="btn btn-primary"><i class="fas fa-cog"></i> Settings</a>
          {% endif %}
          {% if "change_fact" in fact_perms %}
            <a href="{% url 'team:category:fact:update' team_slug=team.slug category_slug=category.slug fact_slug=fact.slug %}" class="btn btn-primary"><i class="fas fa-edit"></i> Update</a>
          {% endif %}
          {% if "delete_fact" in fact_perms %}
            <a href="{% url 'team:category:fact:delete' team_slug=team.slug category_slug=category.slug fact_slug=fact.slug %}" class="btn btn-danger"><i class="fas fa-times"></i> Delete</a>
          {% endif %}
          </div>
        </td>
      </tr>
      {% endif %}
    {% endfor %}
    </tbody>
</table>

