{% load humanize %}
{% load guardian_tags %}

      {% if cardtype == "full" %}
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
          {% for attachment in review.attachments.all %}
            {% get_obj_perms request.user for attachment as "attachment_perms" %}
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <a href="{% url 'team:category:item:review:attachment:attachment' team_slug=review.team.slug category_slug=review.item.category.slug item_slug=review.item.slug review_uuid=review.uuid attachment_uuid=attachment.uuid %}">
                  <img src="{% url 'team:category:item:review:attachment:attachment' team_slug=review.team.slug category_slug=review.item.category.slug item_slug=review.item.slug review_uuid=review.uuid attachment_uuid=attachment.uuid %}?thumbnail" width="100%" heigth="225">
                </a>
                <div class="card-body">
                    <p class="card-text">{{ attachment.description }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      {% if "change_attachment" in attachment_perms %} 
                      <a href="{% url 'team:category:item:review:attachment:update' team_slug=review.team.slug category_slug=review.category.slug item_slug=review.item.slug review_uuid=review.uuid attachment_uuid=attachment.uuid %}" class="btn btn-sm btn-outline-secondary">Update</a>
                      {% endif %}
                      {% if "delete_attachment" in attachment_perms %} 
                        <a href="{% url 'team:category:item:review:attachment:delete' team_slug=review.team.slug category_slug=review.category.slug item_slug=review.item.slug review_uuid=review.uuid attachment_uuid=attachment.uuid %}" class="btn btn-sm btn-outline-secondary btn-danger">Delete</a>
                      {% endif %}
                    </div>
                    <small class="text-muted">{{ attachment.attachment.size|intcomma }} bytes</small>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
          </div>
        </div>
      </div>
      {% else %}
      <div class="container">
        <ul>
          {% for attachment in review.attachments.all %}
            <li>{{ attachment.attachment.name }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

